/* Enter your custom styles here */
.tileLayout 
{
	float:left;
}
.img{
	background-repeat:no-repeat;
	background-image:url('https://www.hdwallpapersfreedownload.com/uploads/large/ipl/ipl-t20-2018-trophy-cup-hd-wallpaper.jpg');
}
.sapMPageFooter{
	
	margin-bottom:55px; 
	
}